@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--foreground-rgb))
    )
    rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-weight-bold{
  font-weight: 600;
}

.highlight-btn {
  @apply bg-primary-1 text-neutral-1;
  display: inline-block;    
  /* padding: 0 16px;         */
  border: none;             
  text-align: center;       
  text-decoration: none;    
  transition: all 0.3s ease;
  position: relative;       
  overflow: hidden;         
  width: auto;              
  white-space: nowrap;  
  font-size: 24px;
  font-weight: 600;
  border-radius: 8px;
}

.highlight-btn span {
  display: inline-block;    
  transition: transform 0.3s ease; 
  will-change: transform;
}

.highlight-btn:hover span {
  transform: scale(0.95);    
  white-space: nowrap;      
}

.highlight-btn:active {
  @apply bg-primary-2;
}

.highlight-btn:disabled {    
  @apply bg-neutral-3;
}

.b-test{
  border: 1px red solid;
}

.h-header{
  height: calc(100vh - 80px);
}